* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f8edeb;
}

h1.maintitle {
  text-transform: uppercase;
 
}

ul {
  color: #4a4e69;
  text-align: center;
  font-size: 20px;
}

li {
  display: inline-block;
}

.button
{
  background-color: #ffcdb2;
  color: black;
  padding: 16px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.onostocesespustati{
  display: none;
  position: absolute;
  background-color: bisque;
  min-width: 160px;
}

.onostocesespustati a{
  color: #4a4e69;
}

.dropdown:hover .onostocesespustati {display: block;}

h1,
h2 {
  color: #6d6875;
  text-align: center;
}

section {
  margin-left: 10px;
}

#mojnaslov {
  color: #b5838d;
}

button {
  border-radius: 10%;
}

.djelatnosti {
  color: #b5838d;
}

#kontakt {
  color: #b5838d;
}

img[class$="slika"] {
  border-radius: 15px 50px 30px 15px;
  padding-left: 5px;
  width: 300px;
}

[class] {
  text-transform: uppercase;
}

[class="kontakti"] {
  text-transform: uppercase;
}

[class~="agenciji"] {
  text-transform: uppercase;
}

[class^="foo"]{
  text-align: right;
}